.main{
    background-color: rgba(47, 200, 34, 0.4);
   
}

li{
    color: #000000;
    list-style: none;
    text-align: left;
    font-size: 18px;
   font-weight: 600;
}   

.copy{
    padding: 6px;
    background: #2FC822;
    text-align: center;
}

.copy h2{
    font-size: 18px;
    font-weight: 700;
    color: white;
}